<a href="https://colab.research.google.com/github/BurovNV/MyRepo/blob/main/MS_SQL_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# импорт модуля
import pyodbc 

# параметры для подключения к БД
server     = 'HOST-HOME'           # Название сервера SQL, к которому будет выполнено 
                                   # подключение.
dbase      = 'AdventureWorks2017'  # Имя базы данных SQL
user       = 'GUEST'               # Имя пользователя SQL
password   = '9205'                # Пароль пользователя SQL

# само подключение
connection = pyodbc.connect("DRIVER={SQL Server};\
                            SERVER=HOST-HOME;\
                            DATABASE=AdventureWorks2017;\
                            UID=GUEST;\
                            PWD=9205")

# создается курсор для соединения
cursor = connection.cursor() 

# вызов курсора
cursor.execute('SELECT TOP 100 * FROM Sales.Customer');

In [ ]:
# результат
result = cursor.fetchall()

In [ ]:
# но лучше сразу читать в DF
import pandas as pd

# текст запроса
query = 'SELECT TOP 100 * FROM Sales.Customer'
# загрузка выведет df с названиями колонок
df = pd.read_sql(query, connection)
df.head(3)

,CustomerID,PersonID,StoreID,TerritoryID,AccountNumber,rowguid,ModifiedDate
0,1,None,934,1,AW00000001,3F5AE95E-B87D-4AED-95B4-C3797AFCB74F,2014-09-12 11:15:07.263
1,2,None,1028,1,AW00000002,E552F657-A9AF-4A7D-A645-C429D6E02491,2014-09-12 11:15:07.263
2,3,None,642,4,AW00000003,130774B1-DB21-4EF3-98C8-C104BCD6ED6D,2014-09-12 11:15:07.263

In [ ]:
# большой запрос
query_1 =  """
SELECT TOP 100
     PC.Name AS [CAT],
     PS.Name AS [SUB],
     P.Name AS [PROD]
FROM Production.ProductCategory PC
LEFT JOIN Production.ProductSubcategory PS
ON   PS.ProductCategoryID = PC.ProductCategoryID
LEFT JOIN Production.Product P
ON   PS.ProductSubcategoryID = P.ProductSubcategoryID
LEFT JOIN Production.ProductModel M
ON   M.ProductModelID = P.ProductModelID;"""

df = pd.read_sql(query_1, connection)
df.head(3)

           CAT          SUB                       PROD
0   Components  Road Frames  HL Road Frame - Black, 58
1   Components  Road Frames    HL Road Frame - Red, 58
2  Accessories      Helmets      Sport-100 Helmet, Red